In [77]:
import json
from datetime import datetime

# Entites and Accounts

In [46]:


entites_json = \
'''
{
    "Account_IDs": ["12345-6789", "23456-7891", "3489728"],
    "FIs_to_Accts": {
        "Dummy_Bank": ["12345-6789", "23456-7891"],
        "Bank of Anan": ["3489728"]
    },
    "Customers_to_Accts": {
        "John Doe": ["12345-6789"],
        "Acme, Inc.": ["23456-7891"],
        "Kulkutta Building Supply Company": ["3489728"]
    }
}
'''

In [47]:
entities_dict = json.loads(entites_json)

In [48]:
entities_dict

{'Account_IDs': ['12345-6789', '23456-7891', '3489728'],
 'FIs_to_Accts': {'Dummy_Bank': ['12345-6789', '23456-7891'],
  'Bank of Anan': ['3489728']},
 'Customers_to_Accts': {'John Doe': ['12345-6789'],
  'Acme, Inc.': ['23456-7891'],
  'Kulkutta Building Supply Company': ['3489728']}}

In [66]:
acct_ids = entities_dict["Account_IDs"]
acct_ids

['12345-6789', '23456-7891', '3489728']

In [91]:

FIs = list(entities_dict['FIs_to_Accts'].keys())
customers = list(entities_dict['Customers_to_Accts'].keys())
FIs,customers

(['Dummy_Bank', 'Bank of Anan'],
 ['John Doe', 'Acme, Inc.', 'Kulkutta Building Supply Company'])

# Resolved Entities

In [39]:
resolved_entites_json = \
'''
{
    "FI_to_Cust_to_Acct": {
        "Dummy_Bank": {
            "CUST_001": ["12345-6789", "23456-7891"]
        },
        "Bank of Anan": {
            "CUST_002": ["3489728"]
        }
    }
}
'''

In [40]:
resolved_entities_dict = json.loads(resolved_entites_json)

In [41]:
resolved_entities_dict

{'FI_to_Cust_to_Acct': {'Dummy_Bank': {'CUST_001': ['12345-6789',
    '23456-7891']},
  'Bank of Anan': {'CUST_002': ['3489728']}}}

In [52]:
resolved_entities_dict['FI_to_Cust_to_Acct']

{'Dummy_Bank': {'CUST_001': ['12345-6789', '23456-7891']},
 'Bank of Anan': {'CUST_002': ['3489728']}}

In [93]:
N_resolved_FIs = len(resolved_entities_dict['FI_to_Cust_to_Acct'])
N_resolved_FIs

2

In [64]:

acct_to_FI = {}
for FI,Cust_to_Acct in resolved_entities_dict['FI_to_Cust_to_Acct'].items():
    for cust,accts in Cust_to_Acct.items():
        for acct in accts:
            acct_to_FI[acct] = FI

In [65]:
acct_to_FI

{'12345-6789': 'Dummy_Bank',
 '23456-7891': 'Dummy_Bank',
 '3489728': 'Bank of Anan'}

# Trxns

In [32]:
trxns_json = \
'''
{
"3489728": {
                "Trxn_1": {
                "Originator_Name": "John Doe",
                "Originator_Account_ID": "12345-6789",
                "Originator_Customer_ID": "CUST_001",
                "Beneficiary_Name": "Kulkutta Building Supply Company",
                "Beneficiary_Account_ID": "3489728",
                "Beneficiary_Customer_ID": "CUST_002",
                "Trxn_Channel": "Wire",
                "Trxn_Date": "2003-01-19",
                "Trxn_Amount": 25000,
                "Location": "Missing"
                },
                "Trxn_2": {
                "Originator_Name": "John Doe",
                "Originator_Account_ID": "12345-6789",
                "Originator_Customer_ID": "CUST_001",
                "Beneficiary_Name": "Kulkutta Building Supply Company",
                "Beneficiary_Account_ID": "3489728",
                "Beneficiary_Customer_ID": "CUST_002",
                "Trxn_Channel": "Wire",
                "Trxn_Date": "2003-01-26",
                "Trxn_Amount": 25000,
                "Location": "Missing"
                }
           }
}
'''

In [33]:


trxns_dict = json.loads(trxns_json)

In [34]:
trxns_dict

{'3489728': {'Trxn_1': {'Originator_Name': 'John Doe',
   'Originator_Account_ID': '12345-6789',
   'Originator_Customer_ID': 'CUST_001',
   'Beneficiary_Name': 'Kulkutta Building Supply Company',
   'Beneficiary_Account_ID': '3489728',
   'Beneficiary_Customer_ID': 'CUST_002',
   'Trxn_Channel': 'Wire',
   'Trxn_Date': '2003-01-19',
   'Trxn_Amount': 25000,
   'Location': 'Missing'},
  'Trxn_2': {'Originator_Name': 'John Doe',
   'Originator_Account_ID': '12345-6789',
   'Originator_Customer_ID': 'CUST_001',
   'Beneficiary_Name': 'Kulkutta Building Supply Company',
   'Beneficiary_Account_ID': '3489728',
   'Beneficiary_Customer_ID': 'CUST_002',
   'Trxn_Channel': 'Wire',
   'Trxn_Date': '2003-01-26',
   'Trxn_Amount': 25000,
   'Location': 'Missing'}}}

In [43]:
import pandas as pd
trxns_df = pd.DataFrame.from_dict(trxns_dict['3489728'],orient='index')
trxns_df

,Originator_Name,Originator_Account_ID,Originator_Customer_ID,Beneficiary_Name,Beneficiary_Account_ID,Beneficiary_Customer_ID,Trxn_Channel,Trxn_Date,Trxn_Amount,Location
Trxn_1,John Doe,12345-6789,CUST_001,Kulkutta Building Supply Company,3489728,CUST_002,Wire,2003-01-19,25000,Missing
Trxn_2,John Doe,12345-6789,CUST_001,Kulkutta Building Supply Company,3489728,CUST_002,Wire,2003-01-26,25000,Missing

In [90]:
trxns_df["Trxn_Date"] = pd.to_datetime(trxns_df["Trxn_Date"])
trxns_df.dtypes

Originator_Name                    object
Originator_Account_ID              object
Originator_Customer_ID             object
Beneficiary_Name                   object
Beneficiary_Account_ID             object
Beneficiary_Customer_ID            object
Trxn_Channel                       object
Trxn_Date                  datetime64[ns]
Trxn_Amount                         int64
Location                           object
dtype: object

In [76]:
trxns_df[trxns_df["Originator_Account_ID"] == "12345-6789"]

,Originator_Name,Originator_Account_ID,Originator_Customer_ID,Beneficiary_Name,Beneficiary_Account_ID,Beneficiary_Customer_ID,Trxn_Channel,Trxn_Date,Trxn_Amount,Location
Trxn_1,John Doe,12345-6789,CUST_001,Kulkutta Building Supply Company,3489728,CUST_002,Wire,2003-01-19,25000,Missing
Trxn_2,John Doe,12345-6789,CUST_001,Kulkutta Building Supply Company,3489728,CUST_002,Wire,2003-01-26,25000,Missing

In [129]:
list(trxns_df["Originator_Account_ID"] )

['12345-6789', '12345-6789']

# SAR 1

In [108]:
sar1_accts = ['12345-6789', '23456-7891', '3489728']
sar1_FIs = ['Bank of Anan']
sar1_custs = ['John Doe', 'Acme, Inc.', 'Kulkutta Building Supply Company']
sar1_N_resolved_FIs = 2
sar1_N_trxns = 55
sar1_trxns = {
     #Originator_Acct_No,Beneficary_Acct_No, Channel, Min Total Amt,Max Total Amt, Total_Ct, Min Amt, Max Amt, Min Date, Max Date
    "3489728": ('12345-6789','3489728', ['Wire'], 225000,  225000, 9 ,25000,25000,datetime(2003,1,17),datetime(2003,3,21)),
    "12345-6789": ('12345-6789','12345-6789', ['Cash','Check','Money Order'],45000,50000,13,1500,9500,datetime(2003,1,2),datetime(2003,3,17)),
    "23456-7891": ('23456-7891','23456-7891', ['Cash','Check','Money Order'],250000,300000,33,4400,10000,datetime(2003,1,2),datetime(2003,3,17))
}

## SAR 2

In [ ]:
sar2_accts = ['1234567','Dummy_001']
sar2_FIs = ['XYZ Bank']
sar2_custs = ["Doe's Auto Sales"]
sar2_N_resolved_FIs = 1
sar2_N_trxns = 12
sar2_trxns = {
     #Originator_Acct_No,Beneficary_Acct_No, Channel, Min Total Amt,Max Total Amt, Total_Ct, Min Amt, Max Amt, Min Date, Max Date
    "Trxn_Set1": ('1234567','1234567', ['Cash'],58800, 58800, 6 ,9800,9800,datetime(2002,6,3),datetime(2002,6,12)),
    "Trxn_Set2": ('Dummy_001','1234567', ['Check'],58800,58800,6,9800,9800,datetime(2003,6,4),datetime(2002,6,13))
}

# SAR 3

In [ ]:
sar3_accts = ['12345678910','981012345']
sar3_FIs = ['Dummy_Bank_1','Aussie Bank']
sar3_custs = ["John Doe"]
sar3_N_resolved_FIs = 2
sar3_N_trxns = 12
sar3_trxns = {
     #Originator_Acct_No,Beneficary_Acct_No, Channel, Min Total Amt,Max Total Amt, Total_Ct, Min Amt, Max Amt, Min Date, Max Date
    "Trxn_Set1": ('12345678910','12345678910', ['Cash'],29650, 29650, 3 ,9700,10000,datetime(2002,3,15),datetime(2002,3,18)),
    "Trxn_Set2": ('12345678910','981012345', ['Wire'],29500,29500,3,9700,9900,datetime(2003,3,16),datetime(2002,3,19))
}

# SAR 4

In [ ]:
sar4_accts = ['54321098','12345678','456781234']
sar4_FIs = ['Bank of Mainland','Bank XYZ']
sar4_custs = ["Sky Corporation","Sea Corporation"]
sar4_N_resolved_FIs = 2
sar4_N_trxns = 284+200+15+274+198
sar4_trxns = {
    # To be updated
     #Originator_Acct_No,Beneficary_Acct_No, Channel, Min Total Amt,Max Total Amt, Total_Ct, Min Amt, Max Amt, Min Date, Max Date
    "Trxn_Set1": ('12345678910','12345678910', ['Cash'],29650, 29650, 3 ,9700,10000,datetime(2002,3,15),datetime(2002,3,18)),
    "Trxn_Set2": ('12345678910','981012345', ['Wire'],29500,29500,3,9700,9900,datetime(2003,3,16),datetime(2002,3,19))
}

In [123]:
extracted = (acct_ids,customers,FIs,N_resolved_FIs,trxns_df)
expected = (sar1_accts,sar1_custs,sar1_FIs,sar1_N_resolved_FIs,sar1_N_trxns,sar1_trxns)

In [122]:
acct_ids, sar1_accts

(['12345-6789', '23456-7891', '3489728'],
 ['12345-6789', '23456-7891', '3489728'])

In [113]:
sar1_FIs[0] ==  FIs[1]

True

In [117]:
sar1_FIs in set(FIs)

TypeError: unhashable type: 'list'

In [115]:
sar1_FIs

['Bank of Anan']

In [114]:
FIs

['Dummy_Bank', 'Bank of Anan']

True

In [146]:

def test_sar(extracted,expected):

    accts,customers,FIs, N_resolved_FIs, trxns_df = extracted
    sar_accts,sar_customers,sar_FIs,sar_N_resolved_FIs,sar_N_trxns,sar_trxns = expected

    sar_results = []
    N_trxns = trxns_df.shape[0]
    
    
    try:
        #Ensure accts have been correctly extracted
        assert set(accts) == set(sar_accts)
        sar_results.append("Test on Accts passed")
    except AssertionError:
        sar_results.append(f"Test on Accts failed. Entities extracted do not match. Extracted: {accts} while Expected: {sar_accts}")

    try:
        #Ensure FIs in SAR have  been correctly extracted
        assert all(fi in FIs for fi in sar_FIs)
        sar_results.append("Test on FIs passed")
    except AssertionError:
        sar_results.append(f"Test on FIs failed.  Extracted: {FIs} while Expected: {sar_FIs}")

    try:
        #Ensure Customers have been correctly extracted
        assert set(customers) == set(sar_customers)
        sar_results.append("Test on Customers passed")
    except AssertionError:
        sar_results.append(f"Test on Customers failed.  Extracted: {customers} while Expected: {sar_customers}")

    try:
        #Ensure Number of FIs have been extracted correctly
        assert N_resolved_FIs == sar_N_resolved_FIs
        sar_results.append("Test on Number of FIs passed")
    except AssertionError:
        sar_results.append(f"Test on Number of FIs failed. Extracted: {N_resolved_FIs} while Expected: {sar_N_resolved_FIs}")
 
    try:
        #Ensure number of trxns are extracted correctly
        assert N_trxns == sar_N_trxns
        sar_results.append("Test on Number of Trxns passed")
    except AssertionError:
        sar_results.append(f"Test on Number of Trxns failed. . Extracted: {N_trxns} while Expected: {sar_N_trxns}")

    trxn_results = []
    # Validate Trxns
    for k,v in sar_trxns.items():
        originator_acct_id,beneficary_act_id,channels, min_total_amt,max_total_amt,total_ct, min_ind_amt, max_ind_amt, min_date, max_date = v
        trxns_df_ = trxns_df[(trxns_df["Originator_Account_ID"]==originator_acct_id ) & (trxns_df["Beneficiary_Account_ID"]==beneficary_act_id) ]
        channels_ = set(trxns_df_["Trxn_Channel"])
        total_amt_ = trxns_df_["Trxn_Amount"].sum()
        min_ind_amt_ = trxns_df_["Trxn_Amount"].min()
        max_ind_amt_ = trxns_df_["Trxn_Amount"].max()
        min_date_ = trxns_df_["Trxn_Date"].min()
        max_date_ = trxns_df_["Trxn_Date"].max()
        try:
             # Ensure Trxn Channels are  are extracted appropriately
            assert all(channel in channels for channel in channels_)
            trxn_results.append(f"Test on Channels on  {k} passed")
        except AssertionError:
            trxn_results.append(f"Test on Channels on {k} failed. Extracted: {channels_} while Expected: {channels}")
        
        try:
             # Ensure Total Trxn Amount is extracted appropriately
            assert  (total_amt_ >= min_total_amt) & (total_amt_ <= max_total_amt) 
            trxn_results.append(f"Test on Total Amount on {k} passed")
        except AssertionError:
            trxn_results.append(f"Test on Total Amount on {k} failed. Extracted: {total_amt_} while Expected between {min_total_amt} and {max_total_amt}   ")

        try:
             # Ensure Individual Amounts are extracted appropriately
            assert  (min_ind_amt_ >= min_ind_amt) & (max_ind_amt_ <= max_ind_amt) 
            trxn_results.append(f"Test on Individual Amount on {k} passed")
        except AssertionError:
            trxn_results.append(f"Test on Individual Amount on {k} failed. Extracted: {(min_ind_amt_,max_ind_amt_)} while Expected between {(min_ind_amt,max_ind_amt)}   ")

        try:
            # Ensure Dates are extracted appropriately
            assert  (min_date_ >= min_date) & (max_date_ <= max_date) 
            trxn_results.append(f"Test on Trxn Dates on {k} passed")
        except AssertionError:
            trxn_results.append(f"Test on Trxn Dates on {k} failed. Extracted: {(min_date_,max_date_)} while Expected between {(min_date,max_date)}   ")


    return sar_results, trxn_results

In [147]:
results1, results2 = test_sar(extracted,expected)

In [148]:
results1

['Test on Accts passed',
 'Test on FIs passed',
 'Test on Customers passed',
 'Test on Number of FIs passed',
 'Test on Number of Trxns failed. . Extracted: 2 while Expected: 55']

In [149]:
results2

['Test on Channels on  Trxn_Set1 passed',
 'Test on Total Amount on Trxn_Set1 failed. Extracted: 50000 while Expected between 225000 and 225000   ',
 'Test on Individual Amount on Trxn_Set1 passed',
 'Test on Trxn Dates on Trxn_Set1 passed',
 'Test on Channels on  Trxn_Set2 passed',
 'Test on Total Amount on Trxn_Set2 failed. Extracted: 0 while Expected between 250000 and 300000   ',
 'Test on Individual Amount on Trxn_Set2 failed. Extracted: (nan, nan) while Expected between (4400, 10000)   ',
 'Test on Trxn Dates on Trxn_Set2 failed. Extracted: (NaT, NaT) while Expected between (datetime.datetime(2003, 1, 2, 0, 0), datetime.datetime(2003, 3, 17, 0, 0))   ']